<p>analytisc works!</p>


<div class="container-fluid">
    <div class="mt-5">

        <div class="text-center">   
            <div class="mt-5">
                <button class="btn btn-outline-primary btn-lg" (click)="dashBoard1()" > First DashBoard</button>
            </div>
            <div class="mt-5">
                
                <button class="btn btn-outline-primary btn-lg" (click)="dashBoard2()" > Second DashBoard</button>
            </div>
            <div class="mt-5">
                <button class="btn btn-outline-primary btn-lg" (click)="dashBoard3()"> Third DashBoard</button>
            </div>
            <div class="mt-5">
                <button class="btn btn-outline-primary btn-lg" (click)="dashBoard4()" > Fourth DashBoard</button>
            </div>
           
        </div>


        <div ngfor>afsdanfnfsdnfnsdkfkdsf</div>
        <div *ngFor="let item of details">dsdfgdfgf
            {{ item.DashBoardName }}fff
        </div>


    </div>
</div>