<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <div class="mt-4 p-3 bg-secondary text-white rounded">
            <!-- <i class="bi bi-person-circle"></i> -->
            <h1> <i class="fa fa-user"></i>Products List</h1>

            
            <div>
                <button type="submit"class="btn btn-primary" (click)="loginPage()">Login</button>

                <li role="presentation" 
                    routerLinkActive="active">
                    <a routerLink = "/login">Home</a>
                </li>
            </div>
           
            <div *ngIf="loginPageView">
                 <app-login></app-login>
            </div>
        </div>
    </div>

    <div class="wrapper mt-5">
        <div class="row mx-5">
            <div class="col-4">
                <div class="border border-light rounded-3  border-2 mt-1">
                    <img class="w-100 p-0" src="assets/large_d2a2bcb0125b0bb2b8413ce4cb76cfcfc7bca8d2.jpg" alt="logo">
                </div>
            </div>
            <div class="col-8">
                <p>
                    
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum perferendis suscipit ipsam ad neque
                    quam maxime velit distinctio provident ut rerum asperiores odit doloribus sit dolorum, beatae dolore
                    ex officiis optio voluptatum esse magni tempora ipsa nemo? Ea quae eveniet quia ducimus cum quis
                    eligendi quo fugit blanditiis. Facilis architecto ad sapiente reprehenderit, incidunt totam vel
                    excepturi est sequi corporis accusamus nemo inventore in aliquam, consequuntur vero odio cumque,
                    eveniet repellat expedita officia eum! Tempore vitae labore dignissimos! Sed quas voluptatibus illum
                    laborum repellat, optio accusamus natus nemo, culpa ducimus, commodi voluptates.
                </p>
            </div>
        </div>
        <div class="row mx-5" style="margin-top: 100px;">
            <div class="col-8">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum perferendis suscipit ipsam ad neque
                    quam maxime velit distinctio provident ut rerum asperiores odit doloribus sit dolorum, beatae dolore
                    ex officiis optio voluptatum esse magni tempora ipsa nemo? Ea quae eveniet quia ducimus cum quis
                    eligendi quo fugit blanditiis. <span class="text-primary">Hello</span> Facilis architecto ad sapiente reprehenderit, incidunt totam vel
                    excepturi est sequi corporis accusamus nemo inventore in aliquam, consequuntur vero odio cumque,
                    eveniet repellat expedita officia eum! Tempore vitae labore dignissimos! Sed quas voluptatibus illum
                    laborum repellat, optio accusamus natus nemo, culpa ducimus, commodi voluptates.
                </p>
            </div>
            <div class="col-4">
                <div class="border border-light rounded-3  border-2 mt-1">
                    <img class="w-100 p-0" src="assets/medium_aa7b8fcc4ee3a86626aca3157bbd8d697c38429a.jpg" alt="logo">
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="wrapper">
        <div class="container">
            <div class="row g-1">
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center">
                            <img src="https://i.imgur.com/w2rCsEw.jpg" width="200">
                        </div>
                        <div class="product-details">
                            <span class="font-weight-bold d-block">$ 7.00</span>
                            <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                    class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                                </button>
                            </div>
                            <div class="weight">
                                <small>1 piece 2.5kg</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center">
                            <img src="https://i.imgur.com/ZRUetRF.jpg" width="200">
                        </div>
                        <div class="product-details">
                            <span class="font-weight-bold d-block">$ 7.00</span>
                            <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                    class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                                </button>
                            </div>
                            <div class="weight">
                                <small>1 piece 2.5kg</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center">
                            <img src="https://i.imgur.com/0M7pldG.jpg" width="200">
                        </div>
                        <div class="product-details">
                            <span class="font-weight-bold d-block">$ 7.00</span>
                            <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                    class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                                </button>
                            </div>
                            <div class="weight">
                                <small>1 piece 2.5kg</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-3">
                        <div class="text-center">
                            <img src="https://i.imgur.com/emb60L5.jpg" width="200">
                        </div>
                        <div class="product-details">
                            <span class="font-weight-bold d-block">$ 7.00</span>
                            <span>Red Redish</span>
                            <div class="buttons d-flex flex-row">
                                <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                                    class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart
                                </button>
                            </div>
                            <div class="weight">
                                <small>20 piece 2.5kg</small>
                            </div>
                        </div>
                    </div>
                </div>  //column closed here 
            </div>
        </div>
    </div>  //wrapper ended here -->
</div>

<!-- 
    <div class="row">
        <div class="col-3">
            <img class="w-50"
                src="https://assets.adidas.com/images/w_600,f_auto,q_auto/52f298640fea42b198b7adb900ae835f_9366/Runesy_Running_Shoes_White_EY3047_01_standard.jpg"
                alt="">
        </div>
        <div class="col-3">
            <img class="w-50"
                src="https://assets.adidas.com/images/w_600,f_auto,q_auto/52f298640fea42b198b7adb900ae835f_9366/Runesy_Running_Shoes_White_EY3047_01_standard.jpg"
                alt="">
        </div>
        <div class="col-3">
            <img class="w-50"
                src="https://assets.adidas.com/images/w_600,f_auto,q_auto/52f298640fea42b198b7adb900ae835f_9366/Runesy_Running_Shoes_White_EY3047_01_standard.jpg"
                alt="">
        </div>
        <div class="col-3">
            <img class="w-50"
                src="https://assets.adidas.com/images/w_600,f_auto,q_auto/52f298640fea42b198b7adb900ae835f_9366/Runesy_Running_Shoes_White_EY3047_01_standard.jpg"
                alt="">
        </div>
    </div> -->
